// Specific CSS for your home-page
.section-header {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;

}